<!DOCTYPE html>
<html>
    <head>
        <title>ak mobiles</title>

        <link rel="stylesheet" href="../static/css/stylesheet.css">  
       
    </head>
    <body>
        <nav>
            <h1 class="logo">mi mobiles</h1>
            <ul>
                <li><a class="active" href="../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Login</a></li>
              </ul>
        </nav>
        <div class="container">
            <div class="imageset">
                <div>
                    <img  class="imageset1"src="../static/images/raga.jpg" alt="">
                </div>
                <div>
                   <h1 class="top-text"> Arun Kumar</h1>
                    <h4 class="top-text1"> <img class="icon"src="../static/images/envelope-solid.svg" alt="">karunkumar7325@gmail.com</h4>
                    <h4 class="top-text2">8220828924</h4>
                    <h4 class="top-text1">Ramanathapuram,Tamilnadu</h4>
                    <h4 class="top-text2">25-July-2000</h4>
                </div>
                <div class="content">
                    <div class="left-content"> 
                        <h3>Career Objective</h3>
                        <p>To be a smart working
                            professional, both as an
                            individual and as a team for
                            achieving organizations
                            goals and ensuring
                            consistent enhancement of
                            my skills.
                            </p>
                            <h3>Skills</h3>
                            <ul>
                                <li>java</li>
                                <li>C/C++</li>
                                <li>React JS</li>
                                <li>DBMS</li>
                                <li>WOrdPress</li>
                            </ul>
                            <h3>Hobbies</h3>
                            <ul>
                                <li>Video Editing</li>
                                <li>Listening Movies</li>
                                <li>Reading Books</li>
                            </ul>
                    </div>
                    <div class="right-content">
                        <h3>Education</h3>
                        <ul>
                            <li>B.E/ B.Tech, Computer Science , (2017 - 2021), 7.0 CGPA</li>
                            <p>Adhiyamaan College of Engineering, Hosur</p><br>
                            <li>12th, Science , (2016 - 2017), 69.0 %</li>
                            <p>St.Joseph's Hr Sec School</p><br>
                            <li>10th , (2014 - 2015), 94.0 %</li>
                            <p>St.Joseph's Hr Sec School</p>
                        </ul>
                        <h3>Projects</h3>
                        <p style="font-weight: bold;">FRONT END DEVELOPMENT USING REACT JS FRAMEWORK
                            August 2020 - September 2020</p>
                            <p><span style="font-weight: bold;">Developer,</span>Team Size: 3 Member(s)<br>
                                <span style="font-weight: bold;"> Contribution:</span> Designing and coding <br><span style="font-weight: bold;">Description: </span>Project main purpose is
                                designing our college website using React JS.</p>
                                <p style="font-weight: bold;">Website Development
                                    July 2020 - July 2020  </p>
                                    <p><span style="font-weight: bold;">Design and Develop</span>
                                       <a href="https://smainfraaprojects.com"></a> 
                                        I build a website with use of WordPress Tool.</p>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="footer">
                    <h3 style="color: white;
                    text-align: center;
                    padding: 20px;
                    margin-top: 50px;">Thank You</h3>
        </div>
    </body>
    </html>